{% extends "recipes/base.html" %}

{% block content %}
<h1>Recipes</h1>
<a href="{% url 'recipe_create' %}">Create New Recipe</a>
<ul>
    {% for item in object_list %}
    <li>
        <h4><strong>{{ item.name }} </strong> - <a href="{% url 'recipe_edit' item.pk %}">Edit</a> - <a
                href="{% url 'recipe_delete' item.pk %}">Delete</a></h4>
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.name }}">
        {% endif %}
        <p> Recipe ID: {{ item.id }} </p>
        <p>Description: {{ item.description }}</p>
        <p>Guide: {{ item.guide }}</p>
        <p>Timing: {{ item.timing }} hours</p>
        <p>Author: {{ item.author }}</p>
        <p>Created at: {{ item.created_at }}</p>

    </li>
    {% endfor %}
</ul>
{% endblock %}
