*{
margin-left: 30;
}

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}


h1{
display: flex;
justify-content: center;

}

.menu {
    padding: 10px;
    background-color: lightyellow;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  height: 100%;
}
